<h3 id="chart-type-line" class="chart-type-head">
  单指标分箱
  <span>line</span>
</h3>
<div class="uk-child-width-1-3@s uk-child-width-1-2@s" uk-grid uk-lightbox="animation: slide">
  {% for i,path in html_path.items() %}
  <!-- TODO bif_mean必须包含所有html_path指标 -->
  <div class="charts-index-selected charts-index-info" style="width:auto;Margin:5px;padding-left:0px;" name={{i}} cmt={{cmt.get(i,"")}} bif_mean={{bif_mean.get(i,-1)}} bif_porp={{bif_porp.get(i,-1)}} bif_ent={{bif_ent.get(i,0)}}>
    <div onclick="toggle_chart_selected(this)" style="cursor:hand">
      <div align="center" class="uk-text-small">{{i}}</div>
      <div align="center" class="uk-text-small">{{cmt.get(i,"")}}</div>
    </div>
    {% include path %}
  </div>
  {% endfor %}
</div>
